html {
    min-height: 600px;
    width: 100%;
    position: relative;
}
body {
    min-width: 380px;
    font-family: Verdana, Helvetica, Arial;
    font-size: 11px;
    position: relative;
}
#tabs {
    border-bottom: 1px solid #7A7A7A;
    border-top: 1px solid #7A7A7A;
    background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#c1c1c1));
    overflow: auto;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    list-style: none;
}
