/*
// custom.css
*/

body {
	font-family: Verdana;
}

#icon {
    visibility:hidden;
}

#content {
	overflow-x: hidden;
}

.avi {
	height: 128px;
	width: 128px;
}

.avi_div {
	display: inline-block;
}

.default_btn {
	float: right;
}

.notifyfor {
    margin-top: 10px;
    display: inline-block;
}

.userinfo_container {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
    width: 77%;
}

.options {
	margin-left: 15px;
    margin-top: 3px;
}

.username {
	display: block;
}

.accopt_label {
    display: block;
    margin-top: 3px;
    padding-left: 15px;
    text-indent: -15px;
}
.accopt_checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.popup_notification {
    margin-top: 10px;
    display: inline-block;
    float: right;
}

.popup_notification_options {
    display: inline-block;
}

.popup_notification_checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
}

.enable_acc {
    display: inline;

}

.disable_acc {
    display: inline;

}

.button_acc {
        margin-left: auto;
    margin-right: auto
}

.disabled_label {
    opacity: 0.5;
}

.active_avi {
    opacity: 1.0;
}

.error_header {
    font-weight: bold;
}

.error_header {
    font-weight: bold;
}

.donate_btn {
        width: 20%;
    margin: 0 auto;
}

.refresh_acc {
float: left;

}

.loading {
float: right;
margin-left: 10px;
margin-top: 5px;
display: none;
}

